In [2]:
import pandas as pd
year=2023
df=pd.read_excel("../Data/순위.xlsx",sheet_name=f"{year}_1")

In [3]:
for i in range(0,df.shape[0],2):
    df.iloc[i,1]=df.iloc[i+1,1]

In [4]:
delete_rows=[i for i in range(1, df.shape[0],2)]
df.drop(delete_rows, inplace=True)
data1=df.reset_index(drop=True)

In [5]:
df=pd.read_excel("../Data/순위.xlsx",sheet_name=f"{year}_2")

In [6]:
for i in range(0,df.shape[0],2):
    df.iloc[i,1]=df.iloc[i+1,1]

In [7]:
delete_rows=[i for i in range(1, df.shape[0],2)]
df.drop(delete_rows, inplace=True)
df.drop(axis=1, columns=["순위"], inplace=True)
data2=df.reset_index(drop=True)

In [8]:
data2

,팀,타수정렬,안타정렬,2타정렬,3타정렬,홈런정렬,타점정렬,득점정렬,도루정렬,사사구정렬,삼진정렬,병살정렬,타율정렬,출루율정렬,장타율정렬,OPS정렬
0,LG,4881.0,1364.0,227.0,27.0,93.0,714.0,767.0,166.0,656.0,804.0,89.0,0.279,0.361,0.394,0.755
1,KIA,4954.0,1365.0,224.0,21.0,101.0,673.0,726.0,122.0,546.0,957.0,115.0,0.276,0.345,0.390,0.735
2,NC,4895.0,1321.0,223.0,28.0,98.0,642.0,679.0,111.0,593.0,1005.0,122.0,0.270,0.345,0.387,0.732
3,KT,4973.0,1316.0,235.0,14.0,89.0,621.0,672.0,87.0,572.0,1074.0,96.0,0.265,0.338,0.371,0.709
4,롯데,4871.0,1289.0,231.0,19.0,69.0,608.0,653.0,101.0,573.0,1000.0,110.0,0.265,0.338,0.362,0.701
5,삼성,4912.0,1290.0,208.0,23.0,88.0,603.0,636.0,103.0,549.0,954.0,114.0,0.263,0.334,0.368,0.702
6,키움,5062.0,1323.0,223.0,30.0,61.0,576.0,607.0,54.0,558.0,1096.0,87.0,0.261,0.331,0.353,0.685
7,SSG,4923.0,1279.0,229.0,16.0,125.0,611.0,658.0,96.0,585.0,943.0,89.0,0.260,0.336,0.389,0.725
8,두산,4859.0,1238.0,210.0,32.0,100.0,565.0,620.0,133.0,581.0,975.0,90.0,0.255,0.332,0.373,0.705
9,한화,4906.0,1184.0,211.0,12.0,100.0,568.0,604.0,67.0,623.0,1162.0,103.0,0.241,0.324,0.350,0.675

In [9]:
merged_df=pd.merge(data1, data2, on="팀",how="inner")

In [10]:
merged_df

,순위,팀,경기,승,무,패,승률,게임차,연속,타수정렬,...,타점정렬,득점정렬,도루정렬,사사구정렬,삼진정렬,병살정렬,타율정렬,출루율정렬,장타율정렬,OPS정렬
0,1.0,LG,144.0,86.0,2.0,56.0,0.606,0.0,1승,4881.0,...,714.0,767.0,166.0,656.0,804.0,89.0,0.279,0.361,0.394,0.755
1,2.0,KT,144.0,79.0,3.0,62.0,0.560,6.5,3승,4973.0,...,621.0,672.0,87.0,572.0,1074.0,96.0,0.265,0.338,0.371,0.709
2,3.0,SSG,144.0,76.0,3.0,65.0,0.539,9.5,2승,4923.0,...,611.0,658.0,96.0,585.0,943.0,89.0,0.260,0.336,0.389,0.725
3,4.0,NC,144.0,75.0,2.0,67.0,0.528,11.0,2패,4895.0,...,642.0,679.0,111.0,593.0,1005.0,122.0,0.270,0.345,0.387,0.732
4,5.0,두산,144.0,74.0,2.0,68.0,0.521,12.0,3패,4859.0,...,565.0,620.0,133.0,581.0,975.0,90.0,0.255,0.332,0.373,0.705
5,6.0,KIA,144.0,73.0,2.0,69.0,0.514,13.0,2승,4954.0,...,673.0,726.0,122.0,546.0,957.0,115.0,0.276,0.345,0.390,0.735
6,7.0,롯데,144.0,68.0,0.0,76.0,0.472,19.0,1승,4871.0,...,608.0,653.0,101.0,573.0,1000.0,110.0,0.265,0.338,0.362,0.701
7,8.0,삼성,144.0,61.0,1.0,82.0,0.427,25.5,1패,4912.0,...,603.0,636.0,103.0,549.0,954.0,114.0,0.263,0.334,0.368,0.702
8,9.0,한화,144.0,58.0,6.0,80.0,0.420,26.0,1패,4906.0,...,568.0,604.0,67.0,623.0,1162.0,103.0,0.241,0.324,0.350,0.675
9,10.0,키움,144.0,58.0,3.0,83.0,0.411,27.5,2패,5062.0,...,576.0,607.0,54.0,558.0,1096.0,87.0,0.261,0.331,0.353,0.685

In [11]:
df=pd.read_excel("../Data/순위.xlsx",sheet_name=f"{year}_3")
for i in range(0,df.shape[0],2):
    df.iloc[i,1]=df.iloc[i+1,1]
delete_rows=[i for i in range(1, df.shape[0],2)]
df.drop(delete_rows, inplace=True)
df.drop(axis=1, columns=["순위"], inplace=True)
data3=df.reset_index(drop=True)

In [12]:
final_data=pd.merge(merged_df, data3, on="팀", how="inner")

In [13]:
final_data

,순위,팀,경기,승,무,패,승률,게임차,연속,타수정렬,...,실점정렬,자책정렬,사사구정렬_y,탈삼진정렬,평균자책정렬,실책정렬,WHIP정렬,QS정렬,홀드정렬,세이브정렬
0,1.0,LG,144.0,86.0,2.0,56.0,0.606,0.0,1승,4881.0,...,610.0,527.0,567.0,977.0,3.67,128.0,1.36,50.0,92.0,37.0
1,2.0,KT,144.0,79.0,3.0,62.0,0.560,6.5,3승,4973.0,...,616.0,564.0,463.0,968.0,3.94,99.0,1.35,64.0,61.0,39.0
2,3.0,SSG,144.0,76.0,3.0,65.0,0.539,9.5,2승,4923.0,...,698.0,626.0,679.0,974.0,4.37,119.0,1.53,57.0,71.0,46.0
3,4.0,NC,144.0,75.0,2.0,67.0,0.528,11.0,2패,4895.0,...,617.0,545.0,575.0,1090.0,3.83,130.0,1.31,53.0,88.0,33.0
4,5.0,두산,144.0,74.0,2.0,68.0,0.521,12.0,3패,4859.0,...,625.0,560.0,583.0,1013.0,3.92,114.0,1.36,64.0,70.0,41.0
5,6.0,KIA,144.0,73.0,2.0,69.0,0.514,13.0,2승,4954.0,...,650.0,583.0,623.0,980.0,4.13,102.0,1.42,46.0,66.0,33.0
6,7.0,롯데,144.0,68.0,0.0,76.0,0.472,19.0,1승,4871.0,...,660.0,586.0,614.0,1070.0,4.15,103.0,1.46,66.0,82.0,35.0
7,8.0,삼성,144.0,61.0,1.0,82.0,0.427,25.5,1패,4912.0,...,728.0,654.0,516.0,899.0,4.60,103.0,1.47,63.0,69.0,38.0
8,9.0,한화,144.0,58.0,6.0,80.0,0.420,26.0,1패,4906.0,...,708.0,628.0,621.0,1037.0,4.38,109.0,1.40,40.0,68.0,20.0
9,10.0,키움,144.0,58.0,3.0,83.0,0.411,27.5,2패,5062.0,...,710.0,632.0,595.0,962.0,4.42,114.0,1.45,68.0,61.0,33.0

In [14]:
def create_data(year):
    datas = [None, None, None]  # 빈 리스트로 초기화

    for file_num in range(1, 4, 1):
        df = pd.read_excel("../Data/순위.xlsx", sheet_name=f"{year}_{file_num}")
        for i in range(0, df.shape[0], 2):
            df.iloc[i, 1] = df.iloc[i + 1, 1]
        delete_rows = [i for i in range(1, df.shape[0], 2)]
        df.drop(delete_rows, inplace=True)
        if file_num in [2, 3]:
            df.drop(axis=1, columns=["순위"], inplace=True)
        datas[file_num - 1] = df.reset_index(drop=True)

        if file_num == 2:
            merged_df = pd.merge(datas[0], datas[1], on="팀", how="inner")
            
        if file_num == 3:
            result = pd.merge(merged_df, datas[2], on="팀", how="inner")
            result = result.rename(columns=lambda x: x.replace('정렬', '') if '정렬' in x else x)
            result["연도"]=year
            return result

In [15]:
data_07_23=[]
for i in range(2007,2024):
    print(i)
    data_07_23.append(create_data(i))
df=pd.concat([data_07_23[i] for i in range(17)], axis=0, ignore_index=True)

2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021
2022
2023

In [16]:
df.to_csv("baseballTeam.csv", index=False)

In [17]:
data_07_23[1].columns

Index(['순위', '팀', '경기', '승', '무', '패', '승률', '게임차', '연속', '타수', '안타', '2타',
       '3타', '홈런', '타점', '득점', '도루', '사사구_x', '삼진', '병살', '타율', '출루율', '장타율',
       'OPS', '이닝', '피안타', '피홈런', '실점', '자책', '사사구_y', '탈삼진', '평균자책', '실책',
       'WHIP', 'QS', '홀드', '세이브', '연도'],
      dtype='object')

In [18]:
df

,순위,팀,경기,승,무,패,승률,게임차,연속,타수,...,자책,사사구_y,탈삼진,평균자책,실책,WHIP,QS,홀드,세이브,연도
0,1.0,SK,126.0,73.0,5.0,48.0,0.603,0.0,1승,4236.0,...,409.0,512.0,650.0,3.23,88.0,1.34,58.0,77.0,36.0,2007
1,2.0,두산,126.0,70.0,2.0,54.0,0.565,4.5,1패,4199.0,...,432.0,474.0,721.0,3.44,73.0,1.30,57.0,42.0,30.0,2007
2,3.0,한화,126.0,67.0,2.0,57.0,0.540,7.5,1승,4128.0,...,440.0,504.0,741.0,3.54,76.0,1.37,66.0,36.0,39.0,2007
3,4.0,삼성,126.0,62.0,4.0,60.0,0.508,11.5,2패,4186.0,...,466.0,458.0,719.0,3.71,87.0,1.32,42.0,51.0,41.0,2007
4,5.0,LG,126.0,58.0,6.0,62.0,0.483,14.5,1패,4322.0,...,547.0,566.0,630.0,4.33,94.0,1.49,58.0,58.0,34.0,2007
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
151,6.0,KIA,144.0,73.0,2.0,69.0,0.514,13.0,2승,4954.0,...,583.0,623.0,980.0,4.13,102.0,1.42,46.0,66.0,33.0,2023
152,7.0,롯데,144.0,68.0,0.0,76.0,0.472,19.0,1승,4871.0,...,586.0,614.0,1070.0,4.15,103.0,1.46,66.0,82.0,35.0,2023
153,8.0,삼성,144.0,61.0,1.0,82.0,0.427,25.5,1패,4912.0,...,654.0,516.0,899.0,4.60,103.0,1.47,63.0,69.0,38.0,2023
154,9.0,한화,144.0,58.0,6.0,80.0,0.420,26.0,1패,4906.0,...,628.0,621.0,1037.0,4.38,109.0,1.40,40.0,68.0,20.0,2023
155,10.0,키움,144.0,58.0,3.0,83.0,0.411,27.5,2패,5062.0,...,632.0,595.0,962.0,4.42,114.0,1.45,68.0,61.0,33.0,2023